<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/about.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/Style.css')}}">
    <title>About</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="nav-items">
                <div class="logo">
                    <h1>Fraud Detectors </h1>
                </div>
                <div class="menu">
                    <a href="/">Home</a>
                    <a href="/about">About us</a>
                    <a href="/spam">Spam E-mail</a>
                    <a href="/phishing">Phishing Website</a>
                    <a href="creditcard">Bank Fraud</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="heading">
        <h1>
            About us
        </h1>
        
    
    </div>
    <div class="container">
        <section class="about">
           
            <div class="about-content">
                <h2>Your one stop destination for fraud detection!</h2>
                <br/>
                <br/>
                <p>In our final year at MCKV Institute of Engineering, we undertook a significant project focusing on the development of three 
                    machine learning modules: one for detecting spam emails, another for identifying phishing websites, 
                    and a third for detecting banking fraud. As the culmination of our efforts, we constructed a comprehensive 
                    website that integrates all three modules into a single platform. This website serves as a centralized hub, 
                    providing users with access to these essential detection mechanisms, effectively consolidating our project's 
                    objectives under one roof.
                </p>
                
            </div>
            <img src="/static/css/about2.png"/>
        </section>
    </div>
</body>
</html>